main {
    background-color: #FDEBE1;
    padding: 5vh;
    display: flex;
    flex-flow: column;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    justify-content: space-around;
    align-items: center;
}

.break {
    width: 100%;
    height: 25vmax;
    background-size: auto;
    border-top: 1vh #ff8773 solid;
    border-bottom: 1vh #ff8773 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.k3 {
    background-image: url(../../../assets/killian4.jpg);
    background-position: 50% 25%;
}

span {
    background: rgb(245, 245, 245, .3);
    color: white;
    padding: 4vh 8vh;
    border: 3px #94A5D9 solid;
    font-size: 4vmax;
    font-weight: 800;
}

h4 {
    font-size: 3vmax;
    color: white;
}

h5 {
    font-size: 2.5vmax;
}

.textBox, form {
    background: #FCBEA1
}


form {
    padding: 2vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 35%;
    border: 1px black solid
}

.innerForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1.5vh;
    padding: 2.5vh;
    width: 75%;
    background: #FDEBE1;
    border: .5vh #ff8773 solid;
}

label {
    color: black
}

label, input, textarea {
    margin: 4px;
    min-width: 80%;
    max-width: 80%;
    font-size: 1.5vmax;

}


input:focus, textarea:focus {
    background: white;
    outline: none
}

#cSubmit {
    background-color: #ff8773;
    color: white;
    padding: 10px;
    font-size: 1.5vmax;
    width: 35vmax;
}

#cSubmit:disabled {
    opacity: .4;
}

textarea, input {
    outline: none;
    border: none;
    border-bottom: 1px grey solid;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 3px solid green; 
}

.ng-invalid:not(form)  {
    border-left: 3px solid #ff8773; 
}

::-webkit-input-placeholder {
    color: #FDEBE1;
    font-style: italic;
    margin: 0px 1px;
}