<main id="aHeader">
    <h4 class="center bold">Pertinent Details:</h4>
    <div class="card">
        <div class="profile">
            <h6><span class="bold">Name:</span> Conor Hooley</h6>
            <h6><span class="bold">Occupation:</span> Web Developer</h6>
            <h6><span class="bold">Specializing in:</span> Angular, UI/UX, Databases</h6>
            <h6><span class="bold">Fields of Interest:</span> Arts, Athletics, SaaS, Nonprofits</h6>
            <h6><span class="bold">School:</span> Galvanize WDI ('18), Colorado State University ('11)</h6>
            <h6><span class="bold">Hobbies:</span> Writing code, writing words, reading, music, sports, jokes, brevity</h6>
            <h6><span class="bold">Influences:</span> Bill Hicks, Tom Robbins, Donald Fegan</h6>
        </div>
        <div class="image">
            <img src="../../../assets/conorshot.jpg">
        </div>
    </div>
    <div class="divider transparent"></div>
    <h4 class="center bold">(A Few Blurbs That Are Sort of a) Bio:</h4>
    <div class="bio">
        <h6>Greetings. I'm Conor. I'm a Denver native, I hold a BA in multiple writing concentrations, and as of August '18 I'm a certified full-stack web app developer.</h6>
        <h6>I'm proficient with Angular and CSS, and at this point I've touched a good amount of the front and back end.
            I'm fascinated with UI/UX, a condition that only deepens each time my girlfriend irately yells at her Iphone (sorry, hun). 
        </h6>
        <h6>I'd prefer to keep this part short and sweet and let the work speak for itself. Accordingly, I'll just say that my interests and hobbies are predictably eccentric. Pretty much consistent with what one might expect of 
            a guy who has spent most of his life geeking out over books, music, food and sports while holding down jobs in the theatre, journalism and bar circuits.
        </h6>
        <h6>So, brass tacks: this site is meant to showcase my work and help any prospective visitors get in touch with me. Have a look around and definitely check out some of the projects I've been working on
            the last few months. Feel free to reach out if you'd like to discuss some tech stuff, 
            talk jobs, or anything along those lines.
        </h6>
        <h6>
            And, of course, many thanks for stopping by!
        </h6>
        <h6>
            - CH
        </h6>
    </div>
</main>