main {
    background-color: #C2C2C2;
    padding: 5px 50px;
}

.card {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.profile {
    width: 50%
}

img {
    width: 250px;
    height: 250px;
    filter: grayscale(100%);
    border: 2px solid black;
}

img:hover {
    filter: grayscale(0%);
}

.line {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid black
}

.bio {
    padding: 0px 50px;
}