<main>
    <h2 class="center bold">About Me:</h2>
    <div class="card">
        <div class="profile">
            <h3><span class="bold">Name:</span> Conor Hooley</h3>
            <h3><span class="bold">Occupation:</span> Web Developer</h3>
            <h3><span class="bold">Specializing in:</span> Angular, UI/UX, Databases</h3>
            <h3><span class="bold">Fields of Interest:</span> Arts, Athletics, SaaS, Nonprofits</h3>
            <h3><span class="bold">School:</span> Galvanize WDI ('18), Colorado State University ('11)</h3>
            <h3><span class="bold">Hobbies:</span> Writing code, writing words, reading, music, sports, jokes, brevity</h3>
            <h3><span class="bold">Influences:</span> Bill Hicks, Tom Robbins, Posdnous</h3>
        </div>
        <div class="image">
            <img src="../../../assets/conorshot.jpg">
        </div>
    </div>
    <div class="bigBreak"></div>
    <h2 class="center bold">(A Few Blurbs That Are Sort of a) Bio:</h2>
    <div class="bio">
        <h3>Hi there. I'm Conor. I'm a Denver native, I hold a BA in multiple writing concentrations, and as of August '18 I'm a certified full-stack web app developer.</h3>
        <h3>I'm pretty darn good with Angular and CSS, but at this point I've touched a good amount of the front and back end.
            I'm also fascinated with UI/UX, a condition that only deepens each time my girlfriend irately yells at her Iphone (sorry, hun). 
        </h3>
        <h3>Thus far in life I've had some amazing opportunities and some fantastic work experiences. Most have required using words. Even more have involved solving problems. 
            All have exposed me to some fascinating people.
        </h3>
        <h3>I built this here site to showcase my work and help any prospective visitors get in touch with me. Have a look around, and reach out if you'd like to discuss some tech stuff,
            talk about a job, or even just yell at me about why the Nuggets won't make the playoffs next year (but you're wrong, they will).
        </h3>
        <h3>
            Thanks for stopping by!
        </h3>
        <h3>
            - CH
        </h3>
    </div>
</main>