main {
    background-color: #FDEBE1;
    padding: 5vh;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.card {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    background: #F8B69D;
    border-top: 4px #7d4e73 solid;
    border-bottom: 4px #7d4e73 solid;
    padding: 2vh 8vh;
}

.profile {
    width: 50%
}

img {
    width: 250px;
    height: 250px;
    border-top: 4px #7d4e73 solid;
    border-bottom: 4px #7d4e73 solid;
}

img:hover {
    filter: grayscale(0%);
}

.bio {
    padding: 2vh 10vh;
    background: #F8B69D;
    border-top: 4px #7d4e73 solid;
    border-bottom: 4px #7d4e73 solid;   
}
