main {
    background-color: #D0B5C7;
    padding: 5px 50px;
}

.card {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.profile {
    width: 50%
}

img {
    width: 250px;
    height: 250px;
    border-top: 4px #7d4e73 solid;
    border-bottom: 4px #7d4e73 solid;
}

img:hover {
    filter: grayscale(0%);
}

.bio {
    padding: 0px 50px;
}

h2 {
    background-color: #F8B69D;
    color: black;
    border-top: 4px #7d4e73 solid;
    border-bottom: 4px #7d4e73 solid;
    padding: 2vh;
}