footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    padding: 5vh;
    border-top: 15px #ff8773 solid;
    background-image: url("../../../assets/898347-subtle-orange-wallpaper.jpg");
    background-size: 100%;
    background-color: grey;
    background-blend-mode: screen;
}

div {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    border: 2px solid #9b5c72;
    opacity: .7;
    padding: 1vh;
}

div:hover, fa:hover, .card:hover {
    color: white;
    opacity: 1
}

fa {
    text-decoration: none;
    color: black;
    size: 20px;
}

a:hover {
    transform: scale(1.2);
}

.li:hover {
    color: #0077B5
}

.sc:hover {
    color: #FF5223
}