
<header>
  <div class="card">
    <h2>Conor Hooley</h2>
    <h3>Web Developer</h3>
    <h3>Denver, CO</h3>
  </div>
  <nav class="transparent">
    <div class="aContainer transparent lines waves-effect waves-light"
    routerLink="/main" fragment="mHeader">
      <a href="#mHeader">Home</a>
    </div>
    <div class="aContainer transparent lines waves-effect waves-light"
    routerLink="/about" fragment="aHeader">
      <a href="#aHeader">About</a>
    </div>
    <div class="aContainer transparent lines waves-effect waves-light"
    routerLink="/projects" fragment="pHeader">
      <a href="#pHeader">Projects</a>
    </div>
    <div class="aContainer transparent lines waves-effect waves-purple"
    routerLink="/contact" fragment="cHeader">
      <a href="#cHeader">Contact</a>
    </div>
  </nav>
</header>
