
header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 15px;
    border-bottom: 15px #ff8773 solid;
    background-image: url("../../../assets/898347-subtle-orange-wallpaper.jpg");
    background-size: 100%;
    background-color: grey;
    background-blend-mode: screen
}

nav {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 2px solid #1479CC;
    opacity: .7
}

nav:hover {
    color: white;
    opacity: 1;
}

.card {
    width: 30%;
    padding: 10px;
    border: 2px solid #7d4e73;
    opacity: .7;
}

.card:hover {
    background: #7d4e73;
    opacity: 1;
}

.aContainer {
    width: 100%;
    height: 100%;
    padding: 1vh;
}

.aContainer:hover {
    outline: 2px solid white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    transform: scale(1.2)
}

a:active {
    color: #1479CC;
}

h2, h3 {
    margin: 0px
}

h2 {
    padding-bottom: 10px;
    font-size: 5vh
}

h3 {
    font-size: 3vh
}