
<header>
  <div class="card">
    <h2>Conor Hooley</h2>
    <h3>Web Developer</h3>
    <h3>Denver, CO</h3>
  </div>
  <nav class="transparent">
    <div class="aContainer transparent lines waves-effect waves-light"
    routerLink="/main">
      Home
    </div>
    <div class="aContainer transparent lines waves-effect waves-light"
    routerLink="/about">
      About
    </div>
    <div class="aContainer transparent lines waves-effect waves-light"
    routerLink="/projects">
      Projects
    </div>
    <div class="aContainer transparent lines waves-effect waves-purple"
    routerLink="/contact">
      Contact
    </div>
  </nav>
</header>
