<div class="break k2" id="pHeader">
  <div class="background">
    <span>Projects</span>
  </div>
</div>
<main>
  <section>
    <div class="menu">
      <div class="describe pCardSolid center">
        <h5>Take a look at some of my work.</h5>
        <p>I've used a slew of technologies and languages to build apps and sites for an array of different clients.</p>
        <p>Click on any of the images below for a description of the project and a link to explore each one.</p>
      </div>
      <div class="subMenu">
        <app-bettership></app-bettership>
        <app-vyp></app-vyp>
        <app-gogot></app-gogot>
        <app-cannalog></app-cannalog>
      </div>
    </div>
  </section>
</main>
