main {
    background-color: #D0B5C7;
    padding: 5px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;

}

.pCard {
    background: grey;
    margin: 10px;
    padding: 10px;
    opacity: .6;
    border: 1px black solid;
    max-width: 33%;
    text-align: center;
}

.pCardSolid {
    background: #F9BF9D;
    margin: 10px;
    padding: 5px;
    border: 1px black solid;
    width: 33%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.pCard:hover {
    opacity: 1;
    background: #F9BF9D;
    border: 1px #D29193 solid;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.9);
}

h2 {
    margin: 2px;
}

a {
    color: purple;
    text-decoration: none
}

h5 {
    margin: 2px;
    color: white;
}

.dContainer {
    display: flex;
    justify-content: center;
    align-self: center
}

.describe {
    width: 80%;
    padding: 10px;
}

.display {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-evenly
}

.center {
    text-align: center;
}

.pImg {
    border: 1px #D29193 solid;
    width: 66%;
    height: 66%;
}

.imgContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 40%;
    min-width: 40%;
}

img {
    margin-top: 2vh;
    height: 50%;
    width: 50%;
    border: 2px solid #D29193;
}

.textContainer {
    min-width: 60%;
    max-width: 60%;
}

.menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}

.subMenu {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    padding: 20px;
}

.arrow:hover {
    color: orange
}