<main id="pHeader">
  <section>
    <div class="menu" *ngIf="!click1 && !click2 && !click3 && !click4">
      <div class="describe pCardSolid center">
        <h5>Take a look at some of my work.</h5>
        <p>So far I've used a slew of technologies and languages to build apps and sites for an array of different clients.</p>
        <p>Click on any of the above for a description of the project and a link to check each one out in all of its (debatable) glory.</p>
        <p>If you want to look even further under the hood, you can check out my
          <a href="https://github.com/cchooley">Github</a>.</p>
      </div>
      <div class="subMenu">
        <div class="pCard card waves-effect" (click)="click1 = !click1" *ngIf="!click2 && !click3 && !click4">
          <div class="card-image">
            <img src="../../../assets/bettership.jpg">
          </div>
        </div>
        <div class="pCard card waves-effect" (click)="click2 = !click2" *ngIf="!click1 && !click3 && !click4">
          <div class="card-image">
            <img src="../../../assets/seussical.png">
          </div>
        </div>
        <div class="pCard card waves-effect" (click)="click3 = !click3" *ngIf="!click1 && !click2 && !click4">
          <div class="card-image">
            <img src="../../../assets/gogot.png">
          </div>
        </div>
        <div class="pCard card waves-effect" (click)="click4 = !click4" *ngIf="!click1 && !click2 && !click3">
          <div class="card-image">
            <img src="../../../assets/cannalog.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dContainer">
    <div class="describe display pCardSolid" *ngIf="click1">
      <div class="card transparent hoverable imgContainer">
        <div class="card-image">
          <img src="../../../assets/bettership.jpg">
        </div>
        <div class="clickBox">
          <i class="small material-icons" (click)="click1 = !click1">arrow_back</i>
          <a href="https://bettership-9f962.firebaseapp.com/">
            <i class="small material-icons">link</i></a>
        </div>
      </div>
      <div class="textContainer">
        <h3>Bettership</h3>
        <h5>Built using: React, React Router, Semantic UI, PostgreSQL, bcrypt, JWT, Knex.js, Express.js, Node.js, Heroku, Firebase</h5>
        <div class="divider"></div>
        <p>
          The cumulative group project of Galvanize's WDI program, this app was built by myself and 3 other students. Bettership is an app 
          designed to assist prospective interns identify exciting and relevant opportunities with ease.
        </p>
        <p>
          
        </p>
        <p>
          On the frontend, I built a single page application with Angular that offers all relevant program information, as well as
          relevant forms for paid vs. scholarship. It also has an "Admin" section that allows administrators to track enrollment
          in all forms.
        </p>
        <a class="big" href="https://bettership-9f962.firebaseapp.com/">Check out Bettership!</a>
        <p>
          Still needed: I hope to soon integrate Stripe to capture payments as well as a feature like OAuth that will allow for administrators
          to log in and access the "Admin" section (and, of course, to keep the general public from accessing it!)
        </p>
      </div>
    </div>
    <div class="describe display pCardSolid" *ngIf="click2">
      <div class="card transparent hoverable imgContainer">
        <div class="card-image">
          <img src="../../../assets/seussical.png">
        </div>
        <div class="clickBox">
          <i class="small material-icons" (click)="click2 = !click2">arrow_back</i>
          <a href="https://vypproject3.firebaseapp.com">
            <i class="small material-icons">link</i>
          </a>
        </div>
      </div>
      <div class="textContainer">
        <h3>VYP - Seussical, The Musical!</h3>
        <h5>Built using: Angular, TypeScript, PostgreSQL, Knex.js, Express.js, Heroku, Firebase, CSS, HTML</h5>
        <div class="divider"></div>
        <p>This is a full-stack app that was built for Aurora, CO's <a href="http://www.vintagetheatre.com/">Vintage Theatre</a>, one of the largest non-profit live theatres in
          Colorado.
        </p>
        <p>
          Vintage required a means of tracking the registry for their Youth Program's summer camp, which accepts both paid enrollees
          as well as scholarship students.
        </p>
        <p>
          Using PostgreSQL, Knex.js, and Express.js, I built an API that would offer persisting registration data on enrollees and
          record whether they are paid students or scholarship recipients.
        </p>
        <p>
          On the frontend, I built a single page application with Angular that offers all relevant program information, as well as
          relevant forms for paid vs. scholarship. It also has an "Admin" section that allows administrators to track enrollment
          in all forms.
        </p>
        <a class="big" href="https://vypproject3.firebaseapp.com">Check out VYP!</a>
        <p>
          Still needed: I hope to soon integrate Stripe to capture payments as well as a feature like OAuth that will allow for administrators
          to log in and access the "Admin" section (and, of course, to keep the general public from accessing it!)
        </p>
      </div>
    </div>
    <div class="describe display pCardSolid" *ngIf="click3">
      <div class="card transparent hoverable imgContainer">
        <div class="card-image">
          <img src="../../../assets/gogot.png">
        </div>
        <div class="clickBox">
          <i class="small material-icons" (click)="click3 = !click3">arrow_back</i>
          <a href="https://gogot-33035.firebaseapp.com/brochure">
            <i class="small material-icons">link</i>
          </a>
        </div>
      </div>
      <div class="textContainer">
        <h3>GOGOT - The Game of Game of Thrones</h3>
        <h5>Built using: Angular, TypeScript, Firebase, CSS, HTML</h5>
        <div class="divider"></div>
        <p>
          This app is demos a crucial aspect of a larger, long-term project called GOGOT that I am working on another colleague. We
          came up with the idea for this game before Game of Thrones’ fifth season that kind of caught fire - essentially formatting
          the “Survivor Pool” NFL game to apply to HBO's Game of Thrones.
        </p>
        <p>
          The GOGOT app, including this demo version, is chiefly designed to administer and record weekly selections. This would be
          something that could identify a player, present them with the eligible characters for selection, log their pick and display
          the week’s selections. All in an efficient and stylish way.
        </p>
        <p>
          My objective for this project was to use Angular to code the aforementioned game logic into a workable demo, and in those
          terms it functions exactly how I’d like.
        </p>
        <a class="big" href="https://gogot-33035.firebaseapp.com/brochure">Check out GOGOT!</a>
        <p>
          Still needed: A final, truly-playable version will require components that will create and store player accounts, store weekly pick information
          for characters and players alike, and conditionally open and close the weekly selections at the correct times (last season
          the pick period typically ran from Tuesday or Wednesday afternoon through the Sunday evening start time of that week’s episode).
          I’d also love to add a message board for trash talk and some other peripheral aspects that players can geek out on - episode
          info, memes, quotes, etc.
        </p>
      </div>
    </div>
    <div class="describe display pCardSolid" *ngIf="click4">
      <div class="card transparent hoverable imgContainer">
        <div class="card-image">
          <img src="../../../assets/cannalog.png">
        </div>
        <div class="clickBox">
          <i class="small material-icons" (click)="click4 = !click4">arrow_back</i>
          <a href="https://cannalog-5e170.firebaseapp.com/">
            <i class="small material-icons">link</i>
          </a>
        </div>
      </div>
      <div class="textContainer">
        <h3>Cannalog</h3>
        <h5>Built using: Angular, TypeScript, PostgreSQL, Knex.js, Express.js, Heroku, Firebase, CSS, HTML</h5>
        <div class="divider"></div>
        <p>
          This full-stack app is something I came up with alongside 3 other Galvanize students during a school-wide hackathon.
        </p>
        <p>
          Given our 5-hour time constraints, we opted on broad, crowd-pleasing (ahem) content and created a site that would allow 
          users to browse a selection of fine cannabis. The rubric required the site to have CRUD functionality that would allow users
          to get all of the weed, add an entry of their own, edit the entries, and delete an entry as well. 
        </p>
        <p>
          We went a step further and added features that would filter out the various strains by type, as well as generate a random strain
          at the click of a button.
        </p>
        <p>
          My teammates created the backend, chiefly by designing the database that contains the information being pulled by the front-end.
        </p>
        <p>
          I built the front-end with Angular, with the main focus being giving full CRUD functionality.
        </p>
        <p>
          Aside from a bit of superficial styling changes I recently made, this is essentially what we were able to come up with after 6 hours of hard coding.
          Not a bad way to spend the day!
        </p>
        <a class="big" href="https://cannalog-5e170.firebaseapp.com/">Check out Cannalog!</a>
        <p>
          Still needed: So many things. But in the spirit of showing what I'm capable of in a short timeframe, as well as fleshing this section of the site
          via adhering to the rule of threes, I'm leaving this as is. For now.
        </p>
        <p>
          PS - Standard issue disclaimer: yes, I am among large number of people in Colorado who have contributed their talents and skills toward
          something marijuana-related... and do not partake.
        </p>
        <p>
          PPS - Not that I judge, either, though :)
        </p>
      </div>
    </div>
  </section>
</main>
