main {
    background-color: #FDEBE1;
    padding: 3vh;
    border-top: 1px black solid;
    border-bottom: 1px black solid;

}

.break {
    width: 100%;
    height: auto;
    background-size: auto;
    border-top: 1vh #ff8773 solid;
    border-bottom: 1vh #ff8773 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.k2 {
    background-image: url(../../../assets/killian2.jpg)
}

span {
    background: rgb(0, 14, 65, .4);
    padding: 4vh 8vh;
    margin: 4vh;
    border: 3px #94A5D9 solid;
    font-size: 4vmax;
    font-weight: 800;
    color: white;
}

.pCardSolid {
    background: #F9BF9D;
    margin: 10px;
    padding: 3.5vh;
    border: 1px black solid;
    width: 33%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

h5 {
    color: white;
    font-size: 2.75vmax;
}

p {
    font-size: 1.75vmax;
}

.describe {
    width: 80%;
    padding: 10px;
}

.menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: .5vh;
}

.subMenu {
    margin: 3vh;
    display:grid;
    grid-template-columns: 35vw 35vw;
    grid-row: auto auto;
    grid-column-gap: 2.5vw;
    grid-row-gap: 5vh;
    justify-items: center;
}

@media only screen 
    and (min-device-width: 360px) 
    and (max-device-width: 812px) {
        .subMenu {
            display: flex;
            flex-flow: column;
        }
        .project {
            margin: 1.5vh;
        }
    }