<main>
  <div class="card">
    <h3 class="center">Hello, I'm Conor. Welcome to my portfolio site.</h3>
    <h4 class="center">You clicked on a link and it took you here.</h4>
    <h4 class="center">So, please, do take a look around.</h4>
    <h6 class="center">(I'm interesting, I swear)</h6>
  </div>
  <div class="divider"></div>
  <div class="links">
    <div class="navCard card transparent hoverable">
      <div class="card-image waves-effect waves-light">
        <img class="activator" src="../../../assets/deepthinking.jpg">
        <span class="center">Read about me...</span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>
        </span>
        <p>... because we all need a bio page, right?</p>
        <div class="card-action">
          <a routerLink="/about">Learn more.</a>
        </div>
      </div>
    </div>
    <div class="navCard card transparent hoverable">
      <div class="card-image waves-effect waves-light">
        <img class="activator" src="../../../assets/oldcomp.jpg">
        <span class="center">Check out my work...</span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>
        </span>
        <p>... since that's probably why you're here.</p>
        <div class="card-action">
          <a routerLink="/projects">Sounds interesting.</a>
        </div>
      </div>
    </div>
    <div class="navCard card transparent hoverable">
      <div class="card-image waves-effect waves-light">
        <img class="activator" src="../../../assets/hello.jpg">
        <span class="center">Get in touch...</span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <i class="material-icons right">close</i>
        </span>
        <p>... I'd be happy to chat.</p>
        <div class="card-action">
          <a routerLink="/contact">Let's connect!</a>
        </div>
      </div>
    </div>
  </div>
</main>
