* {
    z-index: 0;
}

main {
    padding: 5vh;
    background-color: #FDEBE1;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}


.links {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.navCard {
    margin: 2vh;
    display: flex;
    flex-flow: column;
}

img {
    max-height: 200px;
    max-width: 200px;
    filter: grayscale(100%);
    transition: filter 1s;
}

img:hover {
    filter: none;
}

.card {
    background: #F8B69D;
    padding: 2vh;
    margin: 10px 30px;
}

.divider {
    margin: 30px;
}

fa {
    float: right;
    padding: 1vh
}