<main>
  <div class="card">
    <h3 class="center">Hello, I'm Conor. Welcome to my portfolio site.</h3>
    <h4 class="center">You clicked on a link and it took you here.</h4>
    <h4 class="center">So, please, do take a look around.</h4>
    <h6 class="center">(I'm interesting, I swear)</h6>
  </div>
  <div class="divider"></div>
  <div class="links">
    <div class="navCard">
      <img src="../../../assets/deepthinking.jpg">
      <span>Read about me...</span>
    </div>
    <div class="navCard">
      <img src="../../../assets/oldcomp.jpg">
      <span>... see my work...</span>
    </div>
    <div class="navCard">
      <img src="../../../assets/hello.jpg">
      <span>... or get in touch!</span>
    </div>
  </div>
</main>
