* {
    z-index: 0;
}

main {
    padding: 5vh;
    background-color: #FDEBE1;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

h4 {
    font-size: 3vmax;
}

h5 {
    font-size: 2.5vmax;
}

h6 {
    font-size: 1.5vmax;
}

.links {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.navCard {
    width: 40vmin;
    height: 100%;
    margin: 1vh;
    display: flex;
    flex-flow: column;
    font-size: 2vmax;
}


.activator {
    height: 100%;
    width: 20vmax;
    filter: grayscale(100%);
    transition: filter 1s;
}

img:hover {
    filter: none;
}

.card {
    background: #F8B69D;
    padding: 2vh;
    margin: 10px 30px;
}

.divider {
    margin: 30px;
}

fa {
    float: right;
    padding: 1vh
}