<main>
  <div class="card">
    <h4 class="center">Hello, I'm Conor. Welcome to my portfolio site.</h4>
    <h5 class="center">Come on in and look at some of my stuff.</h5>
    <h6 class="center">(It probably won't be a complete waste of time)</h6>
  </div>
  <div class="divider"></div>
  <section>
    <div class="navCard g1" fragment="aHeader">
      <a href="#aHeader">
        <img class="activator" src="../../../assets/flower.jpg">
        <span class="center">Read about me...</span>
      </a>
    </div>
    <div class="navCard g2" fragment="pHeader">
      <a href="#pHeader">
        <img class="activator" src="../../../assets/oldcomp.jpg">
        <span class="center">Check out my work...</span>
      </a>
    </div>
    <div class="navCard g3" fragment="cHeader">
      <a href="#cHeader">
        <img class="activator" src="../../../assets/hello.jpg">
        <span class="center">Or get in touch...</span>
      </a>
    </div>
  </section>
</main>
