* {
    font-family: 'Inconsolata', monospace;
    font-weight: 300
}

.center {
    text-align: center
}

.bold {
    font-weight: bold
}

orange {
    color: #FF8773;
}

lpurple {
    color: #D0B5C7
}